## Introduction:
This notebook is to preliminary analysis using PV data provided and combing it with weather data downloaded from meteostat.

In [1]:
import pandas as pd

In [51]:
df_weather = pd.read_csv('../data/weather_data_london.csv', sep=',', header='infer')
df_weather = df_weather.rename(columns={'time':'datetime'})
df_pvc = pd.read_csv('../data/pvc_sensors.csv', sep=',', header='infer').drop(columns=['Type', 'Type.1'])
df_pvc = df_pvc.rename(columns={'Date (UTC)':'datetime', '1200061435370 (kWh)': 'PV Panel A', '1200061695248 (kWh)':'PV Panel B'})
df_prec = pd.read_csv('../data/precipitation_data_london_jun_dec.csv', sep =',', header = 'infer').drop(columns = ['Unnamed: 0', 'expver'])
df_prec = df_prec.rename(columns={'date':'datetime'})

In [52]:
df_prec.columns

Index(['datetime', 'precipitation'], dtype='object')

In [ ]:
from ydata_profiling import ProfileReport
profile = ProfileReport(df_pvc, title="Profiling Report")
profile.to_widgets()

In [53]:
#converting time column to datetime and making time as index column
df_pvc['datetime'] = pd.to_datetime(df_pvc['datetime'], format = '%d/%m/%Y %H:%M')
df_weather['datetime'] =pd.to_datetime(df_weather['datetime'], format = '%Y-%m-%d %H:%M:%S')
df_prec['datetime'] = pd.to_datetime(df_prec['datetime'], format = '%Y-%m-%d %H:%M:%S')

In [18]:
# df_pvc['date'] = df_pvc['datetime'].dt.date
# df_pvc['time'] = df_pvc['datetime'].dt.time

In [19]:
# df_weather['date'] = df_weather['datetime'].dt.date
# df_weather['time'] = df_weather['datetime'].dt.time

In [20]:
# df_prec['date'] = df_prec['datetime'].dt.date
# df_prec['time'] = df_prec['datetime'].dt.time

In [54]:
df_pvc = df_pvc.set_index('datetime')
df_weather = df_weather.set_index('datetime')
df_prec = df_prec.set_index('datetime')

In [55]:
# Find the first and last dates in the index of the DataFrame
first_date = df_pvc.index.min()
last_date = df_pvc.index.max()
# Print the results
print("The first date in the time series is {}.".format(first_date))
print("The last date in the time series is {}.".format(last_date))

The first date in the time series is 2022-02-21 00:00:00.
The last date in the time series is 2023-02-19 23:30:00.

In [31]:
df_pvc.columns

Index(['PV Panel A', 'PV Panel B'], dtype='object')

In [26]:
display(df_pvc)

                     PV Panel A  PV Panel B        date      time
datetime
2022-02-21 00:00:00         0.0         0.0  2022-02-21  00:00:00
2022-02-21 00:30:00         0.0         0.0  2022-02-21  00:30:00
2022-02-21 01:00:00         0.0         0.0  2022-02-21  01:00:00
2022-02-21 01:30:00         0.0         0.0  2022-02-21  01:30:00
2022-02-21 02:00:00         0.0         0.0  2022-02-21  02:00:00
...                         ...         ...         ...       ...
2023-02-19 21:30:00         0.0         0.0  2023-02-19  21:30:00
2023-02-19 22:00:00         0.0         0.0  2023-02-19  22:00:00
2023-02-19 22:30:00         0.0         0.0  2023-02-19  22:30:00
2023-02-19 23:00:00         0.0         0.0  2023-02-19  23:00:00
2023-02-19 23:30:00         0.0         0.0  2023-02-19  23:30:00

[17472 rows x 4 columns]

In [56]:
#aggregate to hourly
df_pvc_hourly = df_pvc.resample('H').mean()

In [58]:
df_merged = df_pvc_hourly.merge(df_weather, on ='datetime').drop(columns = ['prcp', 'snow', 'tsun'])

In [63]:
# Filter the DataFrame for the desired date range
import datetime
start_date = datetime.datetime(2022, 6, 1)
end_date = datetime.datetime(2022, 12, 31)
filtered_df = df_merged.loc[start_date:end_date]

In [66]:
display(filtered_df)

,PV Panel A,PV Panel B,temp,dwpt,rhum,wdir,wspd,wpgt,pres,coco
datetime,,,,,,,,,,
2022-06-01 00:00:00,0.0,0.0,9.7,8.0,89.0,337.0,13.0,22.2,1018.6,2.0
2022-06-01 01:00:00,0.0,0.0,9.4,7.8,90.0,330.0,13.0,22.2,1018.4,2.0
2022-06-01 02:00:00,0.0,0.0,9.1,7.9,92.0,338.0,13.0,22.2,1018.4,3.0
2022-06-01 03:00:00,0.0,0.0,8.9,7.8,93.0,342.0,13.0,24.1,1018.2,3.0
2022-06-01 04:00:00,0.0,0.0,9.0,7.6,91.0,342.0,13.0,22.2,1018.1,3.0
...,...,...,...,...,...,...,...,...,...,...
2022-12-30 20:00:00,0.0,0.0,10.2,8.5,89.0,227.0,18.5,31.5,997.7,3.0
2022-12-30 21:00:00,0.0,0.0,10.1,8.4,89.0,224.0,18.5,31.5,998.3,4.0
2022-12-30 22:00:00,0.0,0.0,10.5,8.4,87.0,221.0,16.7,27.8,1000.4,4.0
2022-12-30 23:00:00,0.0,0.0,10.4,8.3,87.0,213.0,16.7,27.8,1000.2,4.0
2022-12-31 00:00:00,0.0,0.0,10.3,8.6,89.0,206.0,16.7,27.8,999.7,7.0

In [67]:
display(df_prec)

                     precipitation
datetime
2022-06-01 00:00:00       0.002379
2022-06-01 01:00:00       0.000000
2022-06-01 02:00:00       0.000000
2022-06-01 03:00:00       0.000000
2022-06-01 04:00:00       0.000000
...                            ...
2022-12-31 19:00:00       0.006940
2022-12-31 20:00:00       0.007048
2022-12-31 21:00:00       0.007385
2022-12-31 22:00:00       0.007488
2022-12-31 23:00:00       0.008523

[10272 rows x 1 columns]

In [64]:
df = filtered_df.merge(df_prec, on ='datetime')

In [65]:
display(df)

,PV Panel A,PV Panel B,temp,dwpt,rhum,wdir,wspd,wpgt,pres,coco,precipitation
datetime,,,,,,,,,,,
2022-06-01 00:00:00,0.0,0.0,9.7,8.0,89.0,337.0,13.0,22.2,1018.6,2.0,0.002379
2022-06-01 00:00:00,0.0,0.0,9.7,8.0,89.0,337.0,13.0,22.2,1018.6,2.0,NaN
2022-06-01 01:00:00,0.0,0.0,9.4,7.8,90.0,330.0,13.0,22.2,1018.4,2.0,0.000000
2022-06-01 01:00:00,0.0,0.0,9.4,7.8,90.0,330.0,13.0,22.2,1018.4,2.0,NaN
2022-06-01 02:00:00,0.0,0.0,9.1,7.9,92.0,338.0,13.0,22.2,1018.4,3.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-30 22:00:00,0.0,0.0,10.5,8.4,87.0,221.0,16.7,27.8,1000.4,4.0,0.005998
2022-12-30 23:00:00,0.0,0.0,10.4,8.3,87.0,213.0,16.7,27.8,1000.2,4.0,NaN
2022-12-30 23:00:00,0.0,0.0,10.4,8.3,87.0,213.0,16.7,27.8,1000.2,4.0,0.006031
2022-12-31 00:00:00,0.0,0.0,10.3,8.6,89.0,206.0,16.7,27.8,999.7,7.0,NaN
2022-12-31 00:00:00,0.0,0.0,10.3,8.6,89.0,206.0,16.7,27.8,999.7,7.0,0.006252

In [ ]:
# df_merged.to_csv('../data/merged_weather_data.csv', sep =',', header = True)

In [ ]:
# %pip install ydata-profiling

In [ ]:
from ydata_profiling import ProfileReport
profile1 = ProfileReport(df_merged, title="Profiling Report")
profile1.to_widgets()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# plot the time series
plt.plot(df_merged['PV Panel A'].values)
plt.xlabel('time')
plt.ylabel('Value')
plt.show()

In [ ]:
# 1. remove rows where column has nan values
# 2. take only that riw where sensor has greater than 0 value
# check correlation again.

In [ ]:
df1 = df_merged[df_merged['sensor A'].notna()]

In [ ]:
# df2 = df1[df1['sensor A']>0]

In [ ]:
# df2.to_csv('weather-data/merged_data_filtered.csv', sep =',', header = True)

In [ ]:
# display(df2)

In [ ]:
# profile1 = ProfileReport(df2, title="Profiling Report 2")

In [ ]:
# profile1.to_widgets()